<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMangaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18883/TruyenTranhTuanMangaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMangaService"
                contract="TTTService.IMangaService" name="BasicHttpBinding_IMangaService" />
        </client>
    </system.serviceModel>
</configuration>